%p Use the links below to create notifications.

%ul
  %li
    = link_to 'New User Form', new_user_path
    Fill out and submit a form, causing an exception
  %li
    = link_to 'Custom Notification', new_notification_path
    Enter custom notification details